{
    "yaml.customTags": [
        "!And",
        "!And sequence",
        "!If", 
        "!If sequence",
        "!Not",
        "!Not sequence",
        "!Equals",
        "!Equals sequence",
        "!Or",
        "!Or sequence",
        "!FindInMap",
        "!FindInMap sequence",
        "!Base64",
        "!Join",
        "!Join sequence",
        "!Cidr",
        "!Ref",
        "!Sub",
        "!Sub sequence",
        "!GetAtt",
        "!GetAZs",
        "!ImportValue",
        "!ImportValue sequence",
        "!Select",
        "!Select sequence",
        "!Split",
        "!Split sequence"
    ],
    "terminal.integrated.scrollback": 15000,
    "window.zoomLevel": 1,
    "remote.autoForwardPortsSource": "hybrid",
    "[go]": {
        "editor.codeActionsOnSave": {
            "source.organizeImports": "never"
        }
    },
    "C_Cpp.intelliSenseEngine": "disabled",
    "redhat.telemetry.enabled": false,
    "roo-cline.allowedCommands": [
        "npm test",
        "npm install", 
        "tsc",
        "git log",
        "git diff",
        "git show",
        "go test",
        "go run",
        "*"
    ],
    "zig.zls.enabled": "on",
    "python.createEnvironment.trigger": "off",
    "go.toolsManagement.autoUpdate": true,
    "docker.extension.enableComposeLanguageServer": false,
    "python.analysis.typeCheckingMode": "basic",
    "roo-cline.deniedCommands": [],
    "editor.tabSize": 4,
    "editor.insertSpaces": true,
    "files.autoSave": "afterDelay",
    "files.autoSaveDelay": 1000,
    "workbench.startupEditor": "welcomePage",
    "editor.minimap.enabled": true,
    "editor.wordWrap": "on"
}